[data-adaptive-runner="track"] {
  position: relative;
}

.adaptive-runner {
  width: 0; // ширина вычисляется через js, не анимируемая ширина
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  pointer-events: none;
  z-index: 3;

  &__inner {
    width: 0; // ширина вычисляется через js, анимируемая ширина
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease, height 0.3s ease;
    display: flex;
    gap: 40px;
  }
}

.tabs--runner {
  & > .tabs__controls {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-items: center;

    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (max-width: 767px) {
      padding-bottom: 10px;
      height: 148px;
    }

    .tabs__control {
      color: $default-black-color;
      height: 60px;
      flex-shrink: 0;
      opacity: 1;
      background: none;
      z-index: 4;

      &.is-active {
        color: $default-white-color;
      }

      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          background-color: rgba(44, 57, 242, 0.1);
        }
      }

      &.focus-visible:focus {
        background-color: rgba(44, 57, 242, 0.1);
      }
    }
  }
}
