.faq__wrapper {
  min-width: 360px;
  padding: 33px 15px;
  margin: 0 auto;
  counter-reset: index;

  @media (min-width: $tablet-width) {
    min-width: 698px;
    padding: 40px 35px;
  }

  @media (min-width: $laptop-width) {
    min-width: 1220px;
    padding: 40px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 80px 72px;
    max-width: 1780px;
  }
}

.faq__title {
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.faq__list {
  @include reset-list;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;


  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    gap: 40px;
    justify-items: center;
  }
}

.faq__row {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-self: start;
    align-items: flex-start;
    margin-left: 120px;
  }
}

.faq__item {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 5px;
  width: fit-content;

  @media (min-width: $desktop-width) {
    width: min-content;

    &:nth-child(4) {
      justify-self: end;
      margin-right: 75px;
    }

    &:nth-child(5) {
      justify-self: start;
      margin-left: 120px;
    }

    &:nth-child(6) {
      justify-self: end;
      margin-right: 100px;
    }
  }

  &::before {
    counter-increment: index;
    content: "0" counter(index) ". ";
    position: absolute;
    color: $color-accent;
    font-family: $Manrope-ff;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    top: 15px;
    left: 22px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      font-size: 13px;
      top: 15px;
    }

    @media (min-width: $desktop-width) {
      font-size: 20px;
      top: 28px;
      left: 10px;
    }
  }
}

.faq__item.is-active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/faq-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 100%;
    z-index: -1;
  }

  .faq__button svg {
    transform: rotate(-180deg);
  }

  span {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -40px;
      right: 50%;
      background: url("../img/svg/faq-line.svg") no-repeat;
      background-size: cover;
      width: 100%;
      height: 2px;
    }
  }
}

.faq__button {
  border: none;
  background-color: transparent;
  color: $default-white-color;
  display: grid;
  grid-template-columns: 1fr 37px;
  gap: 30px;
  align-items: center;
  padding: 22px 20px 15px 40px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 20px 18px 40px;
    grid-template-columns: max-content 68px;
  }

  span {
    font-family: $Nunito-ff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: left;

    @media (min-width: $tablet-width) {
      font-size: 17px;
    }

    @media (min-width: $desktop-width) {
      font-size: 25px;
    }
  }
}

.faq__icon {
  width: 100%;
  height: 100%;
}

.faq__content {
  p {
    font-family: $Nunito-ff;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    padding: 15px 45px 33px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      font-size: 20px;
      line-height: 120%;
    }
  }
}
