.feedback {
  color: $default-white-color;
  background-image: url("/img/feedback-background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.feedback__wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  min-width: 360px;
  padding: 20px 15px 50px;

  @media (min-width: $tablet-width) {
    min-width: 698px;
    padding: 40px 35px 0 35px;
    column-gap: 30px;
    grid-template-columns: 1fr min-content;
  }

  @media (min-width: $desktop-width) {
    max-width: 1780px;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    column-gap: 300px;
    padding: 45px 200px 0 310px;
  }
}

.feedback__title {
  font-family: $Manrope-ff;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding-top: 20px;
  grid-column: 1/-1;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    justify-self: start;
    margin-bottom: 25px;
    font-size: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    font-weight: 600;
    justify-self: center;
    padding-top: 0;
    margin-bottom: 80px;
  }
}

.feedback__form {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 770px;
    justify-content: space-between;
  }

  &::after {
    content: "";
    position: absolute;
    background: url("/img/svg/feedback-star.svg") no-repeat center;
    background-size: cover;
    width: 46px;
    height: 48px;
    top: -13%;
    right: 1%;

    @media (min-width: $tablet-width) {
      top: -10%;
      right: 11%;
    }

    @media (min-width: $desktop-width) {
      top: 73%;
      right: -20%;
      width: 93px;
      height: 98px;
    }
  }
}

.feedback__button {
  grid-column: 2/3;
  justify-self: start;
  padding: 18px 74px;
  font-family: $Nunito-ff;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  @media (min-width: $tablet-width) {
    font-size: 13px;
    padding: 21px 62px;
    width: fit-content;
  }
}

.feedback__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 275px;
    height: 450px;
    margin-top: -62px;
    clip-path: none;
  }

  @media (min-width: $desktop-width) {
    width: 341px;
    height: 555px;
    margin-bottom: -69px;
    margin-top: -175px;
    clip-path: inset(0 0 67px 0);
  }
}

.form__field {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    max-width: 352px;
  }
}

.form__field:nth-child(4) {
  @media (max-width: $tablet-width) {
    margin-bottom: 38px;
  }
}
