.footer {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/img/footer-background-mobile.webp");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: $tablet-width) {

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("/img/footer-background-tablet.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  @media (min-width: $desktop-width) {

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("/img/footer-background-desktop.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}

.footer__wrapper {
  min-width: 360px;
  padding: 23px 15px 15px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 22px 35px 55px;
    max-width: 698px;
    display: grid;
    grid-template-areas: "logo address nav"
    "req address nav"
    "social social presentation"
    ". btn ."
    "politic politic politic";
  }

  @media (min-width: $desktop-width) {
    max-width: 1780px;
  }
}

.footer__logo {
  margin-bottom: 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 165px;
    left: 0;
    right: 0;
    background: url("/img/advantages-line.webp") no-repeat;
    background-size: cover;
    width: 100%;
    height: 2px;
  }

  @media (min-width: $tablet-width) {
    grid-area: logo;
    margin-bottom: 20px;

    svg {
      width: 151px;
      height: 50px;
    }
  }
}

.footer__title {
  color: $color-accent;
  font-family: $Manrope-ff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.footer__requisites {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 200px;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    max-width: 215px;
    grid-area: req;
  }

  span {
    color: $default-white-color;
    font-family: $Nunito-ff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (min-width: $tablet-width) {
      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      font-size: 17px;
      line-height: 133%;
    }
  }
}

.footer__social {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-area: social;
    justify-self: start;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  max-width: 265px;

  @media (min-width: $tablet-width) {
    grid-area: address;
    justify-self: center;
  }
}

.contacts__address {
  color: $default-white-color;
  font-family: $Nunito-ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    grid-area: address;
    justify-self: center;
    max-width: 200px;
  }
}

.contacts__link {
  text-decoration: none;
  color: $default-white-color;
  font-family: $Nunito-ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 35px;
}


.footer__nav {
  @media (min-width: $tablet-width) {
    grid-area: nav;
    justify-self: end;
  }
}

.footer__nav-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 18px;

  margin-bottom: 35px;
}

.footer__nav-item {
  color: $default-white-color;
  font-family: $Nunito-ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer__phone {
  text-decoration: none;
  color: $default-white-color;
  font-family: $Inter-ff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__button {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-area: btn;
    width: fit-content;
    margin: 0 auto 20px;
    padding: 20px 136px;
  }
}

.footer__politic {
  color: $default-white-color;
  font-family: $Nunito-ff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-area: politic;
  }
}

.footer__btn-presentation {
  border-radius: 5px;
  border: 1px solid $color-accent;
  background: #080808;
  box-shadow: 0px 2px 0px 0px #2BA2B2;
  color: $color-accent;
  text-decoration: none;
  font-family: $Nunito-ff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-area: presentation;
  }
}
