.footer {
  width: 100%;
  height: 100%;
  background: url("/img/footer-background-mobile.png") no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background: url("/img/footer-background-tablet.png") no-repeat;
  }
}

.footer__wrapper {
  min-width: 360px;
  padding: 23px 15px 15px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 22px 35px 55px;
    min-width: 698px;
    display: grid;
    grid-template-areas: "logo address nav"
    "req address nav"
    "socail social presentation"
    "btn btn btn"
    "politic politic politic";
  }

  @media (min-width: $desktop-width) {
// display: flex;
// flex-direction: row;
  }
}

.footer__logo {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-area: logo;
  }
}

.footer__title {
  color: $color-accent;
  font-family: $Manrope-ff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-bottom: 15px;
}

.footer__requisites {
  max-width: 200px;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    grid-area: req;
  }

  span {
    color: $default-white-color;
    font-family: $Nunito-ff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }
}

.footer__social {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-area: social;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  max-width: 265px;

  @media (min-width: $tablet-width) {
    grid-area: address;
  }
}

.contacts__address {
  color: $default-white-color;
  font-family: $Nunito-ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.contacts__link {
  text-decoration: none;
  color: $default-white-color;
  font-family: $Nunito-ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 15px;
}


.footer__nav {
  @media (min-width: $tablet-width) {
    grid-area: nav;
  }
}



.footer__nav-list {
  @include reset-list;
}

.footer__nav-item {
  color: $default-white-color;
  font-family: $Nunito-ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 15px;
}

.footer__phone {
  text-decoration: none;
  color: $default-white-color;
  font-family: $Inter-ff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__button {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-area: btn;
  }
}

.footer__politic {
  color: $default-white-color;
  font-family: $Nunito-ff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-align: center;


  @media (min-width: $tablet-width) {
    grid-area: politic;
  }
}

.footer__btn-presentation {
  border-radius: 5px;
  border: 1px solid $color-accent;
  background: #080808;
  box-shadow: 0px 2px 0px 0px #2BA2B2;
  color: $color-accent;
  text-decoration: none;
  font-family: $Nunito-ff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-area: presentation;
  }
}
