.hero {
  color: $default-white-color;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -94px;
    background-image: url("/img/hero-background-mobile.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 789px;
    z-index: -1;
    display: block;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/hero-background-mobile@2x.webp");
    }

    @media (min-width: $tablet-width) {
      top: -205px;
      left: 0;
      right: 0;
      width: 100%;
      height: 840px;
      background-image: url("/img/hero-background-tablet.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("/img/hero-background-tablet@2x.webp");
      }
    }

    @media (min-width: $desktop-width) {
      top: -142px;
      left: 0;
      right: 0;
      width: 100%;
      height: 851px;
      background-image: url("/img/hero-background-desktop.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("/img/hero-background-desktop@2x.webp");
      }
    }
  }


  .swiper-pagination {
    bottom: 60px;
    left: calc(50% - 115px);
    gap: 50px;
    counter-reset: index;

    @media (min-width: $tablet-width) {
      bottom: 20px;
      left: 50px;
    }

    @media (min-width: $desktop-width) {
      bottom: 20px;
      left: 150px;
    }
   /*  &::after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      background-color: $default-white-color;
      z-index: -1;
    } */

    &-bullet {
      width: 37px;
      height: 18px;
      background-color: $default-white-color;
      border-radius: 10px;
      outline: 2px solid $default-white-color;
      outline-offset: 2px;
      opacity: 1;

      &::before {
        counter-increment: index;
        content: "0" counter(index) ". ";
        position: absolute;
        color: #20b985;
        font-family: "Manrope", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        top: -15px;
        left: 8px;
        z-index: -1;
    }

      &-active {
        background-color: $color-accent;
        outline-color: $color-accent;
        margin-left: 50px;
      }
    }
  }
}

.hero__slider-container {
  max-width: 390px;

  @media (min-width: $tablet-width) {
    max-width: 698px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1338px;
    margin-bottom: 110px;
  }
}

.hero__slider-wrapper {
  width: 100%;
  display: flex;
  @include reset-list;

  &--nojs {
    display: flex;
    max-width: 100vw;
  }
}

.hero__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  @media (min-width: $tablet-width) {
    align-items: end;
  }
}

.hero__content {
  width: 100%;
}

.hero__text {
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;


  @media (min-width: $desktop-width) {
    min-height: 480px;
  }
}

.hero__title {
  font-family: $Manrope-ff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    font-size: 54px;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.3;
    margin-bottom: 0;
  }
}

.hero__description {
  font-family: $Nunito-ff;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  margin-bottom: 15px;
}

.hero__link {
  width: 100%;
  text-align: center;
  padding: 18px 0;
  margin-bottom: 38px;
  height: min-content;

  @media (min-width: $desktop-width) {
    padding: 26px 69px;
    width: fit-content;
    align-self: end;

  }
}

.hero__image {
  img {
    width: 390px;
    height: 312px;
    object-fit: contain;

    @media (min-width: $tablet-width) {
      width: 327px;
      height: min-content;
      align-self: start;
    }

    @media (min-width: $desktop-width) {
      width: 542px;
      height: 595px;
    }
  }
}
