.life-cycle {
  background-color: $default-black-color;
  color: $default-white-color;
}

.life-cycle__wrapper {
  margin: 0 auto;
  min-width: 360px;
  padding: 42px 15px 40px 15px;

  @media (min-width: $tablet-width) {
    max-width: 1780px;
    padding: 45px 35px;
    gap: 30px;
  }

  @media (min-width: $laptop-width) {
    padding: 78px 100px 10px 100px;
    min-width: 1220px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 70px 10px 70px;
    min-width: 1780px;
  }
}

.life-cycle__title {
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.life-cycle__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }
}

.life-cycle__item {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
    align-items: start;

    &:nth-child(2n) {
      grid-template-columns: 1fr max-content;

      .life-cycle__content {
        @media (min-width: $mobile-width) {
          order: -1;
        }
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0;
  }

  img {
    max-width: 360px;

    @media (min-width: $tablet-width) {
      max-width: 308px;
    }
  }
}

.life-cycle__image {
  position: relative;
  z-index: 1;
  align-self: center;

  @media (min-width: $tablet-width) {
    align-self: start;
  }

  &::after {
    content: "";
    position: absolute;
    top: 30%;
    left: calc(50% - 88px);
    width: 177px;
    height: 84px;
    background-color: rgba(32, 185, 133, 0.69);
    filter: blur(130px);
    z-index: -1;
  }
}

.life-cycle__item:nth-child(even) {
  @media (min-width: $desktop-width) {
    img {
      position: relative;
      max-width: 822px;
    }
  }
}

.life-cycle__item:nth-child(odd) {
  @media (min-width: $desktop-width) {
    img {
      max-width: 686px;
    }
  }
}

.life-cycle__subtitle {
  font-family: $Manrope-ff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 137.14%;
    margin-bottom: 15px;
  }
}

.life-cycle__description {
  font-family: $Nunito-ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 25px;

  &--short {
    max-height: 1334px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @media (min-width: $desktop-width) {
      overflow: visible;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.life-cycle__link {
  position: relative;
  z-index: 2;
  padding: 9px 63px;
  border: 1px solid $default-white-color;
  color: $default-white-color;
  font-family: $Nunito-ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: block;
  width: fit-content;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.life-cycle__item:nth-child(n+3) {
  display: none;
}

.life-cycle__item.is-visible {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 50px;
    align-items: start;

    &:nth-child(2n) {
      grid-template-columns: 1fr min-content;

      .life-cycle__content {
        @media (min-width: $mobile-width) {
          order: -1;
        }
      }
    }
  }
}

.life-cycle__more {
  border: 1px solid $default-white-color;
  font-family: $Nunito-ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0 auto;
  background-color: transparent;
  display: block;
  width: fit-content;
  padding: 13px 102px;

  @media (min-width: $tablet-width) {
    padding: 16px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 120px;
    font-size: 30px;
  }
}
