.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 11;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: $default-black-color;
  border: 2px solid $default-white-color;
  border-radius: 15px;

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 64px;
      top: 28px;
      left: 50px;
      background: url("../img/svg/modal-star.svg");
    }

    &::after {
      content: "";
      position: absolute;
      width: 356px;
      height: 416px;
      bottom: 0;
      right: 12px;
      background: url("../img/modal-background.png") no-repeat;
      background-size: cover;
    }
  }
}

.modal--order {
  width: 334px;
  height: 489px;
  padding: 57px 38px 28px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 643px;
    height: 489px;
    padding: 80px 55px 32px;
  }

  @media (min-width: $desktop-width) {
    width: 1248px;
    height: 500px;
    padding: 115px 298px 100px 125px;
  }
}

.modal__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px; //у селекта отступ снизу меньше

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 75px;
    row-gap: 65px;
  }
}


.modal__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    width: 30px;
    height: 30px;

    @media (min-width: $tablet-width) {
      width: 47px;
      height: 47px;
    }

    @media (min-width: $desktop-width) {
      width: 60px;
      height: 60px;
    }
  }


  &--close {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.modal__button {
  padding: 19px 50px;

  @media (min-width: $desktop-width) {
    width: fit-content;
  }
}
