/* .navigation {
  display: flex;
  align-items: center;
  column-gap: 30px;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.navigation__list {
  display: flex;
  column-gap: 40px;
  font-family: $Manrope-ff;

  @include reset-list;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 25px;
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    visibility: visible;
    opacity: 1;

    &--closed {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.navigation__btn {
  padding: 18px 48px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
 */

/* ниже вынести в отдельный блок или переименовать классы */
/* .menu {
  @media (max-width: $tablet-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }
}
*/
/* .navigation {
  background-color: $default-black-color;
} */

.navigation__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 390px;
  padding: 24px 18px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 20px 24px 24px 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1780px;
    padding: 20px 70px;
    flex-direction: row;
  }
}

.navigation__list {
  display: flex;
  column-gap: 40px;
  font-family: $Manrope-ff;
  // position: relative;
  margin-bottom: 25px;
  // visibility: visible;
  // opacity: 1;
  // min-height: 200px;

  @include reset-list;

  /* &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -24px;
    width: 255px;
    height: 188px;
    background-image: url("/img/stars-menu-mobile.png");

    @media (min-width: $desktop-width) {
      top: 0;
      right: -24px;
      width: 390px;
      height: 327px;
      background-image: url("/img/stars-menu-tablet.png");
    }
  } */

  @media (max-width: $desktop-width) {
    &--open {
      display: flex;
      flex-direction: column;
    }

    &--closed {
      display: none;
    }
  }


  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}


.navigation__item {
  padding: 18px 0 16px;
  position: relative;
}

.navigation__item:first-child {
  @media (max-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, #20b985 10%, #2ba2b2 80%);
    }
  }
}

.navigation__item:not(:last-child) {
  @media (max-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -70px;
      width: 344px;
      height: 2px;
      background-image: url("/img/sprite/divider.svg");

      @media (max-width: $mobile-width) {
        width: 272px; //обзерается длина разделителя
      }
    }
  }
}

.navigation__link {
  text-decoration: none;
  color: $default-white-color;
  font-size: 18px;
  font-weight: 300;
}

.header__toggle {
  width: 46px;
  height: 46px;
  border: none;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 5%;
  position: relative;
  cursor: pointer;

  &--open {
    &::after {
      content: "";
      position: absolute;
      top: 22%;
      left: 15%;
      width: 34px;
      height: 25px;
      background-image: url("/img/sprite/menu-open.svg");
    }
  }

  &--closed {
    &::after {
      content: "";
      position: absolute;
      top: 20%;
      left: 23%;
      width: 26px;
      height: 26px;
      background-image: url("/img/sprite/menu-close.svg");
    }
  }

  &--nojs {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.navigation__logo {
  justify-content: start;

  @media (min-width: $desktop-width) {
    svg {
      width: 167px;
      height: 53px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__btn {
  display: none;
  @media (min-width: $desktop-width) {
    padding: 18px 48px;
    display: block;
  }
}
