.reviews__wrapper {
  max-width: 390px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 698px;
    padding: 40px 35px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 90px 70px 40px;
    max-width: 1780px;
  }
}

.reviews__title {
  font-family: $Manrope-ff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 26px;
    font-weight: 700;
  }

  @media (min-width: $desktop-width) {
    font-size: 68px;
    font-weight: 600;
    margin-bottom: 50px;
  }
}

.reviews__slider {
  position: relative;
  width: 390px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 698px;
  }

  @media (min-width: $desktop-width) {
    width: 1780px;
  }
}

.reviews__list {
  @include reset-list;
}

.reviews__card {
  font-family: $Nunito-ff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: $default-white-color;
  max-width: 390px;
  padding: 85px 15px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    max-width: 668px;
    padding: 45px 35px;
    gap: 95px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    gap: 50px;
    max-width: 1020px;
    padding: 50px 70px 45px;
    align-items: flex-end;
    margin: 0;
  }
}

.reviews__image {
  position: relative;
  width: fit-content;
  align-self: center;
  margin-bottom: 65px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    img {
      width: 285px;
      height: 285px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background: url("/img/svg/reviews-for-image.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    width: 356px;
    height: 323px;
    top: -40px;
    right: -60px;

    @media (min-width: $desktop-width) {
      top: -60px;
      right: -75px;
      width: 429px;
      height: 390px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background: url("/img/svg/reviews-star.svg") no-repeat center;
    background-size: cover;
    top: -15%;
    left: -15%;
    width: 70px;
    height: 74px;

    @media (min-width: $desktop-width) {
      top: -18%;
      left: -18%;
      width: 103px;
      height: 109px;
    }
  }
}

.reviews__content {
  display: flex;
  flex-direction: column;
}

.reviews__name {
  margin: 0;
  margin-bottom: 15px;
  font-family: $Manrope-ff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (min-width: $desktop-width) {
    font-size: 38px;
    margin-bottom: 25px;
  }
}

.reviews__description {
  margin: 0;
  margin-bottom: 35px;
  font-family: $Nunito-ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  &--short {
    max-height: 400px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

.reviews__button {
  border: 1px solid $default-white-color;
  text-decoration: none;
  background-color: transparent;
  color: $default-white-color;
  font-family: $Nunito-ff;
  font-size: 14px;
  font-weight: 300;
  padding: 16px 65px 16px 40px;
  position: relative;
  align-self: center;

  @media (min-width: $tablet-width) {
    align-self: start;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    padding: 15px 33px 15px 14px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 47%;
    right: 17.5%;
    width: 13px;
    height: 6px;
    background: url("/img/svg/reviews-arrow.svg") no-repeat center;

    @media (min-width: $desktop-width) {
      right: 5%;
    }
  }
}

.reviews__column {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 30%;
      left: calc(50% - 123px);
      width: 247px;
      height: 148px;
      background-color: rgba(32, 185, 133, 0.69);
      filter: blur(96px);
      z-index: -1;
      border-radius: 50%;
    }
  }
}


