.social {
  display: flex;
  align-items: center;
  gap: 20px;

  @include reset-list;

  &--visibility {
    @media (max-width: $desktop-width) {
      display: flex;
      position: absolute;
      top: 345px;
      left: 20px;
      z-index: 3;
    }
  }

  &--no-visibility {
    display: none;

    @media (min-width: $tablet-width) {
      position: absolute;
      display: flex;
      right: 10%;
    }
  }
}

.social__item {
  background: linear-gradient(180deg, #20b985 50%, #2ba2b2 100%);
  border-radius: 6px;
  width: 44px;
  height: 44px;

  @media (min-width: $desktop-width) {
    width: 40px;
    height: 40px;
  }
}

.social__icon {
  margin: 13px;

  @media (min-width: $desktop-width) {
    margin: 10px;
  }
}
