@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Nunito";
  font-display: swap;
  src:
    url("../fonts/Nunito/Nunito-Light.woff2") format("woff2"),
    url("../fonts/Nunito/Nunito-Light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Nunito";
  font-display: swap;
  src:
    url("../fonts/Nunito/Nunito-Regular.woff2") format("woff2"),
    url("../fonts/Nunito/Nunito-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Nunito";
  font-display: swap;
  src:
    url("../fonts/Nunito/Nunito-Medium.woff2") format("woff2"),
    url("../fonts/Nunito/Nunito-Medium.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Nunito";
  font-display: swap;
  src:
    url("../fonts/Nunito/Nunito-Bold.woff2") format("woff2"),
    url("../fonts/Nunito/Nunito-Bold.woff") format("woff");
}

/* ______________________ */

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Manrope";
  font-display: swap;
  src:
    url("../fonts/Manrope/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/Manrope/Manrope-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Manrope";
  font-display: swap;
  src:
    url("../fonts/Manrope/Manrope-SemiBold.woff2") format("woff2"),
    url("../fonts/Manrope/Manrope-SemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Manrope";
  font-display: swap;
  src:
    url("../fonts/Manrope/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/Manrope/Manrope-Bold.woff") format("woff");
}

/* ______________________ */

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Inter";
  font-display: swap;
  src:
    url("../fonts/Inter/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Inter";
  font-display: swap;
  src:
    url("../fonts/Inter/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Medium.woff") format("woff");
}
