$Manrope-ff: "Manrope", sans-serif;
$Nunito-ff: "Nunito", sans-serif;
$Inter-ff: "Inter", sans-serif;

$default-white-color:#ffffff;
$default-black-color:#080808;
$color-accent:#20b985;
$color-error: #ff0000;

$desktop-width: 1920px;
$laptop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 390px;
